body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search-bar button .fa-span { display: none; }
.search-bar button span { display: inline-block; }
.search-bar button.loading .fa-spin { display: inline-block; }
.search-bar button.loading span { display: none; }

td,th { 
  vertical-align: middle !important;
  text-align: center !important;
}
svg {
  height: 150px;
}
.map {
  width: 700px;
  height: 400px;
  margin: 0 auto;
}

.emoji {
  width: 130px;
  height: 130px;
  margin: 100 auto;
}

#cityDetail {
  background-color: powderblue;
  padding: 20px;
}

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  background-color: blanchedalmond;
  height: 100px;
  margin-top: 0%;
}