body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search-bar button .fa-span { display: none; }
.search-bar button span { display: inline-block; }
.search-bar button.loading .fa-spin { display: inline-block; }
.search-bar button.loading span { display: none; }

td,th { 
  vertical-align: middle !important;
  text-align: center !important;
}
svg {
  height: 150px;
}
.map {
  width: 700px;
  height: 400px;
  margin: 0 auto;
}

.emojiContainer {
  text-align: center;
}

.emoji {
  width: 130px;
  height: 130px;
  margin-top: 50px;
}

.description {
  margin-top: 20px;
}

#cityDetail {
  background-color: powderblue;
  padding: 20px;
}

* {
  margin: 0px;
  padding: 0px;
}

.header {
  height: 70px;
  padding-top: 20px;
}

h1.misaeTitle {
  color: #566270;
  font-family: 'Wendy One', sans-serif;
}

.progress-bar {
  width: 90%;
  display: inline-block;
  height: 30px;
  color: rgb(95, 95, 97);
}

.aqiInfo {
  font-family: 'Kalam', cursive;
  font-size: 20px;
  padding-bottom: 30px;
}

.fa-arrow-down {
  padding: 20px;
}

.searchBtn, .form-control {
  font-family: 'Kalam', cursive;
  font-size: 18px;
}

.footer{
  font-family: 'Kalam', cursive;
  font-size: 20px;
  padding-top: 50px;
}

.table {
  font-family: 'Roboto Slab', serif;
}

.whiteTable {
  color: white;
}

.cityBannerName, .cityBannerTime, h5, .description, .forecast, .btn-light {
  font-family: 'Ubuntu', sans-serif;
}

.aqiIdx {
  font-size: 20px;
  padding-bottom: 100px;
}

.info {
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

.chart{
  width: 100px;
}

.aqiMap {
  width: 80%;
}

@keyframes bounceIn {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes moveUpDown {
  0%{
    transform: scale(1)
  }
  50%{
    transform: scale(1.2)
  }
  100%{
    transform: scale(1)
  }
}


.emojiContainer {
  animation: bounceIn 2s;
  animation-iteration-count: infinite;
}

.fa-arrow-down {
  animation: moveUpDown 2s;
  animation-iteration-count: infinite;
}
